/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg: #ffffff;
  --text: #2e2e2e;
  --primary: #2563eb;
  --card: #f5f5f5;
  --color-first: #f49740;
  --color-second: #2e050a;
  --color-third: #fdf1f3;
  --color-white: #fff;
  --first-color: #f49740;
  --first-color2: #f77f00;
  --second-color: #2e2e2e;
  --color-blue: #7854f7;
  --color-black: #18191f;
  --color-grey: #474a57;
  --color-skyblue: #e7f6fd;
  --bg-color-black: #0b0d17;
  --bg-color-grey: #f4f5f7;
  --bg-dark: #20263c;
  --grey: #444;
  --grey2: #959595;
  --gray3: #5c5c5c;
  --grey-alt: #d1e2e9;
  --header-height: 3rem;
  --font-semi: 600;
  --orange: #f06009;
  --light-gray: #cccccc;
  --icon: invert(99%) sepia(26%) saturate(152%) hue-rotate(319deg)
    brightness(106%) contrast(100%);

  /* Font Size */
  --text-large: 60px;
  --text-medium: 23px;
  --text-regular: 13px;
  /* Font weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Font size */
  --section-title: 3rem;
  --btn-font: 1rem;
  --font-xlarge: 3.75rem;
  --font-large: 3rem;
  --font-medium: 1.563rem;
  --font-semimedium: 1.125rem;
  --font-regular: 0.875rem;
  --font-small: 0.75rem;

  /* Box Shadow */
  --box-shadow-main: 0px 20px 40px rgba(0, 0, 0, 0.08);
  --box-shadow-hover: 0px 30px 40px -6px rgba(0, 0, 0, 0.1);
  /* Border radius */
  --border-radius: 10px;
  /* transition */
  --animate: all 0.3s ease-in-out;

  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}
/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

body.dark {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  --bg: #111;
  --text: #eee;
  --primary: #60a5fa;
  --card: #1a1a1a;
}
h1 {
  font-size: 2.7em;
  line-height: 1.3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1,
h2,
p {
  margin: 0;
}
p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 0;
}
p,
a,
small {
  font-family: 'Ubuntu', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.text-org {
  color: #f49740;
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--bg);
  /* box-shadow: 0 1px 4px rgba(146,161,176,.15); */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  border-bottom: 0px solid #ddd;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    margin-top: 0px;
  }
}
.controls {
  display: flex;
  gap: 10px;
}

button,
select {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/*===== BUTTONS =====*/
.button {
  position: relative;
  display: inline-block;
  width: auto;
  background-color: var(--first-color);
  color: #fff;
  padding: 13px 35px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0px 10px 20px rgba(255, 144, 17, 0.2);
  letter-spacing: 1.1px;
}
.button:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(255, 144, 17, 0.4);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 85px;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
  }
}

.nav__item {
  margin-top: var(--mb-4);
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.logo {
  color: rgb(0, 0, 0);
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: var(--first-color);
}

.nav__toggle {
  margin-top: 9px;
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}
.change-theme {
  position: initial;
  margin-left: var(--mb-2);
}

/*Active menu*/

.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
.l-main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 20px;
}
/*===== HOME =====*/
.home {
  margin-top: 120px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.home_detail {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.home__data {
  width: 100%;
  align-self: center;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px;
}

.home__title {
  font-size: var(--big-font-size);
  font-size: 270%;
  margin-bottom: var(--mb-5);
}

.home__social {
  display: flex;
  @media (max-width: 767px) {
    width: 100%;
    gap: 35px;
    justify-content: center;
    align-items: center;
  }
}

body.dark .home__social-icon {
  color: var(--color-white);
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ppot {
  font-size: 15px;
  width: 100%;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .home {
    margin-top: 0px;
    max-width: 1280px;
    padding: 20px 40px;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: initial;
    justify-content: space-between;
  }

  .home__data {
    width: 50%;
    align-self: flex-end;
    text-align: start;
    margin-bottom: 180px;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}

/* -------------------------------------------------------------------- */
/* --------------------------- job-position --------------------------- */
/* -------------------------------------------------------------------- */
.job-position {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}
.job-position h2 {
  font-size: 350%;
  text-align: center;
  font-weight: bold;
}
.job-position .container .list-job {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card {
  height: 200px;
  width: 335px;
  padding: 20px 35px;
  background: linear-gradient(to right top, #f0f0f0, #ffffff);
  border-radius: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  box-shadow: 0 0.5rem 1.5rem rgba(231, 231, 231, 0.1);
  transition: all 300ms ease-in-out;
  color: #0b0d17;
}
.card p {
  font-size: 35px;
}
body.dark .card {
  color: #0b0d17;
}
.card2 {
  height: 200px;
  width: 335px;
  padding: 20px 35px;
  background: linear-gradient(to right top, #f7763a, #f5bf2b);
  border-radius: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  box-shadow: 0 0.5rem 1.5rem rgba(231, 231, 231, 0.1);
  transition: all 300ms ease-in-out;
  color: #ffffff;
}
.card2 p {
  font-size: 35px;
}
body.dark .card2 {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .job-position {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .job-position .container .list-job {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
/* -------------------------------------------------------------------- */
/* ------------------------------ ABOUT ------------------------------- */
/* -------------------------------------------------------------------- */

.about {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  max-width: 1280px;
}
.about .title h2 {
  font-size: 350%;
  text-align: center;
  font-weight: bold;
}
.about .about-left {
  width: 100%;
}
.about .about-left img {
  border-radius: 25px;
}
.about .about-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.about-heading {
  color: var(--first-color);
}
.about-heading,
.text-me {
  font-size: 40px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .about {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .about .about-left {
    width: 50%;
  }
  .about .about-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
}

/* -------------------------------------------------------------------- */
/* ------------------------------ SKILLS ------------------------------ */
/* -------------------------------------------------------------------- */

.skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: start;
  align-items: center;
  margin: 60px 20px;
  max-width: 1280px;
}
.skills h2 {
  font-size: 350%;
  text-align: center;
  font-weight: bold;
}

.skills__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.skills__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}
.skills__box .list_skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 รูปต่อแถว */
  gap: 20px;
  max-width: 800px;
  margin-bottom: 30px;
}
.skills__box .list_skills img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.skills__subtitle {
  margin-bottom: 10px;
}
.skills_img {
  width: 100%;
}
.skills_img img {
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .skills {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: start;
    align-items: center;
    margin: 20px;
    max-width: 1280px;
  }
  .skills__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
  }
  .skills__box {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0px 20px;
  }
  .skills_img {
    width: 100%;
  }
}

/* ===== KOS DESIGN =====*/
.about-kos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 20px;
  padding: 20px;
  max-width: 1280px;
  padding-bottom: 40px;
}
.about-kos h2 {
  font-size: 350%;
  text-align: center;
  font-weight: bold;
}
.about-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.about-left {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-left img {
  width: 100%;
  border-radius: 25px;
}
.about-right {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-heading-kos p {
  font-size: 28px;
  padding: 5rem 0 rem 0;
  font-weight: bolder;
}
.about-text {
  color: #ed1c24;
}

.button-kos {
  position: relative;
  display: inline-block;
  width: auto;
  background-color: #ed1c24;
  color: #fff;
  padding: 13px 35px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0px 10px 20px rgba(255, 17, 17, 0.2);
  letter-spacing: 1.1px;
}
.button-kos:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(255, 17, 17, 0.4);
}
.title-kos {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 30px 15px;
}
.title-kos b {
  font-size: 24px;
}

.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.work__img img {
  width: 100%;
  height: 100%;
  transition: 1s;
  cursor: pointer;
}

.work__img img:hover {
  transform: scale(1.1);
}

.work__container-kos {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 4 รูปต่อแถว */
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .about-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
  .about-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
  .work__container-kos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 รูปต่อแถว */
    gap: 20px;
  }
}

/* ===== PLANET X =====*/

.about-planet-x {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 20px;
  padding: 20px;
  max-width: 1280px;
  padding-bottom: 40px;
}
.about-heading-planet-x {
  font-size: 35px;
  padding: 5rem 0 rem 0;
  font-weight: bolder;
}

.button-planet-x {
  position: relative;
  display: inline-block;
  width: auto;
  background-color: #43338c;
  color: #fff;
  padding: 13px 35px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0px 10px 20px rgba(152, 17, 255, 0.2);
  letter-spacing: 1.1px;
}

.button-planet-x:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(152, 17, 255, 0.2);
}
.work__container-planet-x {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .about-planet-x {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
    padding: 20px;
    max-width: 1280px;
    padding-bottom: 40px;
  }
  .work__container-planet-x {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* ===== WORK =====*/
.work {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 20px;
  padding: 20px;
  max-width: 1280px;
  padding-bottom: 40px;
}

.work__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .work {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* -----------------------------   NEWS LETTER   --------------------------------------- */
#subFooter {
  position: relative;
}

.newsLetter {
  margin: 0px 5%;
  background: var(--first-color);
  padding: 30px 50px;
  border-radius: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -80px;
  -webkit-box-shadow: 2px 2px 58px -23px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 58px -23px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 58px -23px rgba(0, 0, 0, 1);
}

.newsLetter .grid {
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-gap: 2rem;
  align-items: center;
}

.newsLetter h1 {
  line-height: 1;
  margin-bottom: 10px;
  color: #fff;
}

.newsLetter p {
  margin-top: -10px;
  color: rgb(41, 41, 41);
  letter-spacing: 1;
}

.newsLetter form {
  margin: 0;
  padding: 0;
}

.newsLetter input {
  width: 250px;
  height: 40px;
  padding: 10px;
  border: 1px solid #bdbdbd;
  outline: 0;
  margin-bottom: 15px;
  border-radius: 3px;
}

.newsLetter .button {
  background: rgb(255, 255, 255);
  margin-left: 15px;
  color: var(--first-color);
  border: 2px solid #ffffff;
}

.newsLetter .button:hover {
  background: rgba(255, 255, 255, 0);
  /* border-radius: 3px; */
  margin-left: 15px;
  color: #fff;
  border: 2px solid #ffffff;
  cursor: pointer;
}

/* -----------------------------   FOOTER --------------------------------------- */
footer {
  width: 100%;
  padding: 80px 20px 20px 20px;
  margin: 0;
  background: #333333;
}

footer .menu {
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: start;
  padding: 20px 5%;
  width: 100%;
}

footer .logo {
  width: 250px;
}

footer h2 {
  color: rgb(255, 255, 255);
}

footer h2 samp {
  color: var(--first-color);
}

footer h3 {
  color: #fff;
}

footer li,
footer p,
footer small,
footer a {
  color: #dddddd;
}

footer .menu h2,
footer nav h3 {
  line-height: 0;
  margin-top: 15px;
  margin-bottom: 35px;
}

footer p {
  font-size: 14px;
}

footer nav ul {
  padding: 0;
}

footer .menu li {
  display: block;
  margin-bottom: 15px;
  margin-left: 0;
}

footer nav a {
  font-size: 14px;
}

@media only screen and (max-width: 567px) {
  footer .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 5%;
    width: 100%;
  }
}
footer .logo {
  width: 250px;
}

/* ================= MOBILE OPTIMIZE ================= */

@media screen and (max-width: 767px) {
  .header {
    padding: 10px 20px;
  }

  .logo {
    font-size: 26px;
  }

  /* HOME */

  .home {
    margin-top: 100px;
    padding: 0 10px;
  }

  .home__title {
    font-size: 32px;
    line-height: 1.3;
  }

  .home__data {
    margin-bottom: 40px;
  }

  .home__social {
    justify-content: center;
    gap: 20px;
  }

  /* SECTION TITLE */

  .job-position h2,
  .skills h2,
  .about .title h2,
  .about-kos h2 {
    font-size: 28px;
  }

  /* CARD */

  .card,
  .card2 {
    width: 100%;
    height: auto;
    padding: 25px;
  }

  .card p,
  .card2 p {
    font-size: 28px;
  }

  /* ABOUT */

  .about {
    height: auto;
    padding: 40px 10px;
  }

  .about-heading,
  .text-me {
    font-size: 28px;
  }

  /* SKILLS */

  .skills {
    margin: 40px 10px;
  }

  .skills__box .list_skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  /* WORK GRID */

  .work__container {
    grid-template-columns: 1fr;
  }

  .work__container-kos {
    grid-template-columns: 1fr;
  }

  .work__container-planet-x {
    grid-template-columns: 1fr;
  }

  /* NEWSLETTER */

  .newsLetter {
    margin-top: -85px !important;
    padding: 20px;
    margin: 0 10px;
  }

  .newsLetter input {
    width: 100%;
  }

  .newsLetter .button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}
/* -----------------------------   loader --------------------------------------- */

#pre-loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

.loader {
  height: 100vh;
  width: 100vw;
  background: url('../img/loading1.svg') center/30rem no-repeat fixed;
}

#pre-loader.hide {
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 567px) {
  .loader {
    background-size: 20rem;
  }
}
.music-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99999;
  background: #f49740;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.music-btn:hover {
  transform: scale(1.1);
}
